<!DOCTYPE html>
<html>
    $partial("templates/head.html")$
    <body>
	<header class="site-header">
	    <div class="container wrapper">
		<a class="site-title" href="https://this-week-in-rust.org/">This Week in Eta</a>
	    </div>
	</header>

	<div class="page-content">
	    <div class="container wrapper">
		<div class="row">
		    <div class="col-md-12">
			$partial("templates/post-list.html")$
		    </div>
		</div>
	    </div>
	</div>

	$partial("templates/footer.html")$
    </body>
</html>
