<footer>
    <div class="container wrapper">
	<div class="row">
	    <div class="col-sm-4 col-xs-12">
		<ul class="list-unstyled">
		    <li><a href="https://this-week-in-rust.org/blog/archives/index.html">past issues</a></li>
		    <li><a href="https://this-week-in-rust.org/atom.xml">atom feed</a></li>
		    <li><a href="https://this-week-in-rust.org/rss.xml">rss feed</a></li>
		    <li><a href="https://github.com/cmr/this-week-in-rust">source code</a></li>
		</ul>
	    </div>
	    <div class="col-sm-4 col-xs-12">
		<ul class="list-unstyled">
		    <li><a href="https://twitter.com/ThisWeekInRust">twitter</a></li>
		</ul>
	    </div>
	    <div class="col-sm-4 col-xs-12 text-right custom-xs-text-left">
		<ul class="list-unstyled">
		    <li><a href="https://this-week-in-rust.org/pages/privacy-policy.html">privacy policy</a></li>
		    <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa-4.0</a></li>
		</ul>
	    </div>
	</div>
    </div>
</footer>
