<footer>
    <div class="container wrapper">
	<div class="row">
	    <div class="col-sm-4 col-xs-12">
		<ul class="list-unstyled">
		    <li><a href="/archive">past issues</a></li>
		    <li><a href="/atom.xml">atom feed</a></li>
		    <li><a href="/rss.xml">rss feed</a></li>
		    <li><a href="https://github.com/psibi/eta-weekly">source code</a></li>
		</ul>
	    </div>
	    <div class="col-sm-4 col-xs-12">
		<ul class="list-unstyled">
		    <li><a href="https://twitter.com/eta-lang">twitter</a></li>
		</ul>
	    </div>
	    <div class="col-sm-4 col-xs-12 text-right custom-xs-text-left">
		<ul class="list-unstyled">
		    <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa-4.0</a></li>
		</ul>
	    </div>
	</div>
    </div>
</footer>
